.btn-blue {
   background-color: #fcd5ce;
   padding: 15px 20px;
   border-radius: 4px;
   font-weight: bold;
   color : white;
   font-family: Cambria;
   margin-block-end: 20px;
   margin-block-start: 20px;
 }
